<%- include('partials/header') %>

  <div class="page-header header-filter" data-parallax="true" style="background-image:url('http://wallpapere.org/wp-content/uploads/2012/02/black-and-white-city-night.png');"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
                <img src="https://thumbs.dreamstime.com/b/man-profile-cartoon-smiling-round-icon-vector-illustration-graphic-design-135443422.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
              </div>
              <div class="name">
                <h1 class="title"><%=Peer%></h1>
                <h6>STUDENT</h6>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-pinterest"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="description text-center">
          <p>An artist of considerable range, Chet Faker — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p>
        </div>
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile-tabs">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                  <a class="nav-link  active" href="/askQuery">
                    <i class="material-icons">camera</i>
                    Ask Your Query
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/askedByPeers">
                    <i class="fas fa-user-graduate"></i>
                    Answer Peers Queries
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/askedByMe">
                    <i class="fas fa-tasks"></i>
                    Queries Asked By You
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/answeredByMe">
                    <i class="material-icons">favorite</i>
                    Queries Answered By You
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <br><br><br>
          <!-- //queries -->
          <div style="margin-left: 450px;" class="row container-fluid text-center">
            <h3 class="title" style="text-align: center;">Ask Your Query</h3>
          </div>
          <div class="tab-pane active text-center gallery  shadow-lg p-3 mb-5 bg-white rounded" id="studio">
            <div class="row">
              <div class="col-md-9 ml-auto mr-auto">
                <div class="card" style="width: 1000px; height:500px;">
                  <div class="row no-gutters">
                    <div class="col-sm-4">
                      <img class="card-img" src="https://images.unsplash.com/photo-1515707743625-2f8e5fd8f8b4?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTl8fGJvb2t8ZW58MHwxfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Suresh Dasari Card">
                    </div>
                    <div class="col-sm-7">
                      <div class="card-body" style="text-align: left;">
                        <h3 class="card-text">Post you Query</h3>
                        <form class="" action="/askQuery" method="post" style="margin-top:35px;">
                          <label for="query">Type your query below</label><br><br><br>
                          <textarea name="query" class="form-control rounded-0" style="font-size:1.5rem;" id="exampleFormControlTextarea1" rows="7"></textarea>
                          <input type="hidden" name="askedBy" value="<%=Peer%>">
                          <hr>
                          <button type="submit" class="btn btn-lg btn-primary" name="button">Post</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Queries Over -->
        </div>
        <br><br><br>
      </div>
    </div>
  </div>

<%- include('partials/footer') %>
