<%- include('partials/header') %>

        <div class="page-header header-filter" data-parallax="true" style="background-image:url('http://wallpapere.org/wp-content/uploads/2012/02/black-and-white-city-night.png');"></div>
        <div class="main main-raised">
    		<div class="profile-content">
                <div class="container">
                    <div class="row">
    	                <div class="col-md-6 ml-auto mr-auto">
            	           <div class="profile">
    	                        <div class="avatar">
    	                            <img src="https://thumbs.dreamstime.com/b/man-profile-cartoon-smiling-round-icon-vector-illustration-graphic-design-135443422.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
    	                        </div>
    	                        <div class="name">
    	                            <h1 class="title"><%= Peer %></h1>
    								<h6>STUDENT</h6>
    								<a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
                                    <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#pablo" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-pinterest"></i></a>
    	                        </div>
    	                    </div>
        	            </div>
                    </div>
                    <div class="description text-center">
                        <p>An artist of considerable range, Chet Faker — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p>
                    </div>
    				<div class="row">
    					<div class="col-md-6 ml-auto mr-auto">
                            <div class="profile-tabs">
                              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="/askQuery">
                                      <i class="material-icons">camera</i>
                                      Ask Your Query
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/askedByPeers">
                                      <i class="fas fa-user-graduate"></i>
                                        Answer Peers Queries
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/askedByMe">
                                      <i class="fas fa-tasks"></i>
                                        Queries Asked By You
                                    </a>
                                </li>  <li class="nav-item">
                                      <a class="nav-link" href="/answeredByMe">
                                        <i class="material-icons">favorite</i>
                                          Queries Answered By You
                                      </a>
                                  </li>
                              </ul>
                            </div>
        	    	</div>
                </div>

              <div class="tab-content tab-space">
                <div class="tab-pane active text-center gallery" id="studio">
      				<div class="row">
      					<div class="col-md-3 ml-auto">
      					    <img src="https://images.unsplash.com/photo-1558021212-51b6ecfa0db9?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8c3R1ZHl8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="rounded">
      						<img src="https://images.unsplash.com/photo-1576506542790-51244b486a6b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTh8fHN0dWR5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="rounded">
      					</div>
      					<div class="col-md-3 mr-auto">
      						<img src="https://images.unsplash.com/photo-1604882736764-6152df6dc4eb?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8c3R1ZHl8ZW58MHwxfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" style="height:400px;"class="rounded">
      						<img src="https://images.unsplash.com/photo-1584697964156-deca98e4439d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjd8fHN0dWR5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="rounded">
      					</div>
      				</div>
      			</div>

              </div>


                </div>
            </div>
    	</div>
<%- include('partials/footer') %>
